$select-color: orange;
$hover-color: #ffc46b;

body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-weight: 400 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif !important;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.busy {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.26) url('/assets/caleydo_c_anim.svg') no-repeat fixed center;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.comparison {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}


a.active {
  font-weight: 500;
  color: $select-color;
}

rect {
  &.caleydo-select-selected {
    fill: $select-color;
  }
  &.caleydo-select-hovered {
    fill: $hover-color;
  }
}

#timeline {
  circle{
    cursor: pointer;

    &.active {
      fill: $select-color;
    }
  }


}
