/**
 * Created by Samuel Gratzl on 15.12.2014.
 * copied by Reem Hourieh on 13.5.2015.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {

}

#sidebar {
  display: inline-block;
  width: 12%;
  height: 100%;
  vertical-align: top;

  #toolbar {
    i {
      background-size: 100%;
      margin: 0 0.1em;
    }

    .btn-group {
      //display: block;
    }
  }
}

$select-color: orange;
$hover-color: #ffc46b;

#content {
  display: inline-block;
  width: 100%;
  height: 100%;
}

*[draggable] {
  cursor: move;
}

svg {
  vector-effect: non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

#board {
  width: 100%;
  height: 91vh;
  position: relative;
  background-color: white;
  overflow: hidden;

  &.mode-block {
    border: 1px solid #2e6da4;
  }
  &.mode-select {
    border: 1px solid #4cae4c;
  }
  &.mode-band {
    border: 1px solid #d58512;
  }

  .block {
    position: absolute;
    width: auto;
    height: auto;

    &.select-selected {
      border: 1px solid $select-color;
      background: none;
    }
    &.select-hovered {
      border: 1px solid $hover-color;
      background: none;
    }

    .mode-block {
      pointer-events: none;
    }

    &.ui-state-disabled {
      opacity: 1;
    }
  }

  .selection-clearer {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .link-container {
    svg {
      position: absolute;

      path.rel-back {
        stroke: none;
        fill: white;
        opacity: 0;
      }
      path.rel-item {
        pointer-events: none;
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;

        &.select-selected {
          stroke: $select-color;
        }
        &.select-hovered {
          stroke: $hover-color;
        }
      }
      path.rel-group, path.rel-block {
        pointer-events: none;
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;
        fill: black;
        opacity: 0.2;

        &.select-selected {
          fill: $select-color;
        }
        &.select-hovered {
          fill: $hover-color;
        }
      }

    }
  }

  .placeholder {
    z-index: 100;
    position: absolute;
    border-radius: 10px;
    background-color: #e2e2e2;

    font-size: 300%;
    text-align: center;

    border: 2px outset gray;
    padding: 0.1em;

    width: auto;
    min-width: 1em;
    height: auto;
    min-height: 3em;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .over {
      border-color: black;
    }

    i {
      display: block;
      background-size: 100%;
      background-position: center;
      background-color: #d6d6d6;
      padding: 0 0.1em;
      border-radius: 10px;
      border: 2px outset gray;
    }
  }
}

#blockbrowser {
  width: 100%;
  height: 30%;
  display: block;
  overflow: auto;

  table {
    width: 100%;

    button {
      padding-top: 0;
      padding-bottom: 0;
    }
    /*tbody {
      width: 100%;
      height: 100%;
      display: table-row-group;
      overflow: auto;
    }*/
  }
}

.select-selected {
  //html variant
  border: 1px solid $select-color;
  background-color: $select-color;
}

svg .select-selected {
  //svg variant
  stroke: $select-color;
  stroke-width: 1px;
  fill: $select-color;
  vector-effect: non-scaling-stroke;
}

.taco-table-container {
  overflow: hidden;
  border: 1px solid lightpink;
  position: absolute;
}

.taco-table {
  position: relative;
  border: 1px solid purple;

  div {
    position: absolute;
  }
}

a.taco-logo {
  padding: 5px 15px;
}

.taco-bp-container {
  //border: 1px solid lightpink;
  border-left: 1px solid #000000;
  position: absolute;
  div {
    position: absolute;
    font: 10px sans-serif;
    text-align: right;
    padding: 1px;
    //margin: 1px;
    margin-top: 1px;
    color: white;
  }
  .rotated {
    /*rotate the entire image
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
  }
}

.taco-hist-container {
  border: 1px solid lightcyan;
  border-left: 1px solid #000000;
  position: absolute;
  div {
    position: absolute;
    font: 10px sans-serif;
    text-align: right;
    padding: 1px;
    margin-top: 1px;
    color: white;
  }
}

.taco-2d-container {
  border: 1px solid darkslategray;
  position: absolute;
  color: #fc8d62; //colorblind friendly
  div {
    position: absolute;
    padding: 1px;

  }
}

.taco-bar-container {
  border: 1px solid darkgray;
  position: absolute;
  background-color: #ffffff;
  div {
    position: relative;
    font: 10px sans-serif;
    text-align: right;
    //padding: 1px;
  }
}

div.content-change-color {
  //background-color: #456bb4;
  background-color: #8da0cb;
}

rect.bar.content-change-color {
  //background-color: #456bb4;
  fill: #8da0cb;
}

div.struct-add-color, .row-add-color, .col-add-color {
  //background-color: #4daf4a;
  background-color: #66c2a5; //colorblind friendly
}

rect.bar.struct-add-color {
  //background-color: #456bb4;
  fill: #66c2a5;
}

div.struct-del-color, .row-del-color, .col-del-color {
  //background-color: #e41a1c;
  background-color: #fc8d62; //colorblind friendly
}

rect.bar.struct-del-color {
  //background-color: #456bb4;
  fill: #fc8d62;
}

.no-change-color {
  background-color: lightgoldenrodyellow;
}

.struct {
  border-radius: 25px;
}

/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; // use full height
  height: calc(100% - 50px);
}

.flex-column {
  transition: flex-grow .5s; // animate width
  flex-grow: 0.00001; // Setting this to zero breaks the transition (http://stackoverflow.com/a/24976134/940219)
  width: 30px; // minimum width
  overflow: hidden;

  display: flex; // flex box itself for .tab-title and .tab-content
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.flex-column.expand {
  flex-grow: 1; // proportion of expanded column
}

.tab-title {
  flex-grow: 0;
  width: 30px; // same width as .flex-column

  // rotate .tab-title link by 90°
  a {
    text-decoration: none;
    color: #fff;
    transform: rotate(-90deg);
    writing-mode: tb-rl;
    white-space: nowrap;
    display: block;
    margin-top: 50vh; // center at the viewport half
    cursor: pointer;
  }
}

.tab-content {
  width: 100%;
}

#overview {
  background: white;
  .tab-title {
    background: #212121;
  }
}

#middle {
  background: white;
  .tab-title {
    background: #333333;
  }
}

#detail {
  background: #ededed;
  .tab-title {
    background: #454545;
  }
}

/* end of flexbox */

.taco-navbar {
  position: relative;
  min-height: 50px;
}

#mds-graph {
  border: solid 1px grey;
  height: 41vh;
}

#lineup {
  border: solid 1px dimgrey;
  height: 41vh;
  position: relative;
}

#ref-table {
  border: solid 1px orange;
  background: #faffcf;
  height: 79vh;
}

/* bootstrap slider */
#dsSlider {
  margin-top: 3px;

  .slider-handle {
    background: #fad000;
  }

  .slider-selection {
    background: #BABABA;
  }
}

.slider-tick.round.in-selection {
  background: #a7a7a7;
}

#detail-slider-group {
  margin-left: 40px;
  margin-right: 10px;

  .slider.slider-horizontal .slider-tick-label-container {
    font-size: 95%;

    .slider-tick-label {
      color: #ededed;
      padding-top: 0px;
    }
  }
}

.taco-test-img {
  width: 95%;
  height: auto;
}

//MDS part
//from http://bl.ocks.org/dahtah/4482115#index.html

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #00F;
  stroke-width: 2px;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #00F;
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.label {
  font-size: 12px;
  color: blue;
}

.datapoint {
  r: 5;
  fill: blue;
  fill-opacity: .5;
}

#d3plot {
  width: 500px;
  height: 500px;
}

//force directed graph
.node .fd-circle{
  //stroke: #fff;
  //stroke-width: 1.5px;
  //fill: #456bb4;
  background-color: #456bb4;
  //position: absolute;
}

.node.select-node-selected .fd-circle{
  stroke: $select-color;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
  fill: dimgrey;
}

#bin-text {
  display: inline-block;
}

#bin-number-div{
  float: right;
}


/* loader */
.loader {
	height: 42px;
	left: 50%;
  margin-left: -21px;
  top: 50%;
  margin-top: -21 px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
	width: 42px;
}
.loader span {
	background: rgb(100,100,102);
	display: block;
	height: 8px;
	opacity: 0;
	position: absolute;
	width: 8px;
	animation: load 7s ease-in-out infinite;
		-o-animation: load 7s ease-in-out infinite;
		-ms-animation: load 7s ease-in-out infinite;
		-webkit-animation: load 7s ease-in-out infinite;
		-moz-animation: load 7s ease-in-out infinite;
}
.loader span.block-1 {
	animation-delay: 1.61s;
		-o-animation-delay: 1.61s;
		-ms-animation-delay: 1.61s;
		-webkit-animation-delay: 1.61s;
		-moz-animation-delay: 1.61s;
	left: 0px;
	top: 0px;
}
.loader span.block-2 {
	animation-delay: 1.47s;
		-o-animation-delay: 1.47s;
		-ms-animation-delay: 1.47s;
		-webkit-animation-delay: 1.47s;
		-moz-animation-delay: 1.47s;
	left: 11px;
	top: 0px;
}
.loader span.block-3 {
	animation-delay: 1.33s;
		-o-animation-delay: 1.33s;
		-ms-animation-delay: 1.33s;
		-webkit-animation-delay: 1.33s;
		-moz-animation-delay: 1.33s;
	left: 22px;
	top: 0px;
}
.loader span.block-4 {
	animation-delay: 1.19s;
		-o-animation-delay: 1.19s;
		-ms-animation-delay: 1.19s;
		-webkit-animation-delay: 1.19s;
		-moz-animation-delay: 1.19s;
	left: 34px;
	top: 0px;
}
.loader span.block-5 {
	animation-delay: 1.05s;
		-o-animation-delay: 1.05s;
		-ms-animation-delay: 1.05s;
		-webkit-animation-delay: 1.05s;
		-moz-animation-delay: 1.05s;
	left: 0px;
	top: 11px;
}
.loader span.block-6 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
	left: 11px;
	top: 11px;
}
.loader span.block-7 {
	animation-delay: 0.77s;
		-o-animation-delay: 0.77s;
		-ms-animation-delay: 0.77s;
		-webkit-animation-delay: 0.77s;
		-moz-animation-delay: 0.77s;
	left: 22px;
	top: 11px;
}
.loader span.block-8 {
	animation-delay: 0.63s;
		-o-animation-delay: 0.63s;
		-ms-animation-delay: 0.63s;
		-webkit-animation-delay: 0.63s;
		-moz-animation-delay: 0.63s;
	left: 34px;
	top: 11px;
}
.loader span.block-9 {
	animation-delay: 0.49s;
		-o-animation-delay: 0.49s;
		-ms-animation-delay: 0.49s;
		-webkit-animation-delay: 0.49s;
		-moz-animation-delay: 0.49s;
	left: 0px;
	top: 22px;
}
.loader span.block-10 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
	left: 11px;
	top: 22px;
}
.loader span.block-11 {
	animation-delay: 0.21s;
		-o-animation-delay: 0.21s;
		-ms-animation-delay: 0.21s;
		-webkit-animation-delay: 0.21s;
		-moz-animation-delay: 0.21s;
	left: 22px;
	top: 22px;
}
.loader span.block-12 {
	animation-delay: 0.07s;
		-o-animation-delay: 0.07s;
		-ms-animation-delay: 0.07s;
		-webkit-animation-delay: 0.07s;
		-moz-animation-delay: 0.07s;
	left: 34px;
	top: 22px;
}
.loader span.block-13 {
	animation-delay: -0.07s;
		-o-animation-delay: -0.07s;
		-ms-animation-delay: -0.07s;
		-webkit-animation-delay: -0.07s;
		-moz-animation-delay: -0.07s;
	left: 0px;
	top: 34px;
}
.loader span.block-14 {
	animation-delay: -0.21s;
		-o-animation-delay: -0.21s;
		-ms-animation-delay: -0.21s;
		-webkit-animation-delay: -0.21s;
		-moz-animation-delay: -0.21s;
	left: 11px;
	top: 34px;
}
.loader span.block-15 {
	animation-delay: -0.35s;
		-o-animation-delay: -0.35s;
		-ms-animation-delay: -0.35s;
		-webkit-animation-delay: -0.35s;
		-moz-animation-delay: -0.35s;
	left: 22px;
	top: 34px;
}
.loader span.block-16 {
	animation-delay: -0.49s;
		-o-animation-delay: -0.49s;
		-ms-animation-delay: -0.49s;
		-webkit-animation-delay: -0.49s;
		-moz-animation-delay: -0.49s;
	left: 34px;
	top: 34px;
}




@keyframes load {
	0% {
		opacity: 0;
		transform: translateY(-70px);
	}
	15% {
		opacity: 0;
		transform: translateY(-70px);
	}
	30% {
		opacity: 1;
		transform: translateY(0);
	}
	70% {
		opacity: 1;
		transform: translateY(0);
	}
	85% {
		opacity: 0;
		transform: translateY(70px);
	}
	100% {
		opacity: 0;
		transform: translateY(70px);
	}
}

@-o-keyframes load {
	0% {
		opacity: 0;
		-o-transform: translateY(-70px);
	}
	15% {
		opacity: 0;
		-o-transform: translateY(-70px);
	}
	30% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	70% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	85% {
		opacity: 0;
		-o-transform: translateY(70px);
	}
	100% {
		opacity: 0;
		-o-transform: translateY(70px);
	}
}

@-ms-keyframes load {
	0% {
		opacity: 0;
		-ms-transform: translateY(-70px);
	}
	15% {
		opacity: 0;
		-ms-transform: translateY(-70px);
	}
	30% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	70% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
	85% {
		opacity: 0;
		-ms-transform: translateY(70px);
	}
	100% {
		opacity: 0;
		-ms-transform: translateY(70px);
	}
}

@-webkit-keyframes load {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-70px);
	}
	15% {
		opacity: 0;
		-webkit-transform: translateY(-70px);
	}
	30% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	70% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	85% {
		opacity: 0;
		-webkit-transform: translateY(70px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(70px);
	}
}

@-moz-keyframes load {
	0% {
		opacity: 0;
		-moz-transform: translateY(-70px);
	}
	15% {
		opacity: 0;
		-moz-transform: translateY(-70px);
	}
	30% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	70% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	85% {
		opacity: 0;
		-moz-transform: translateY(70px);
	}
	100% {
		opacity: 0;
		-moz-transform: translateY(70px);
	}
}


/* responsive svg */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
