/**
 * Created by Samuel Gratzl on 15.12.2014.
 * copied by Reem Hourieh on 13.5.2015.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {

}

#sidebar {
  display: inline-block;
  width: 12%;
  height: 100%;
  vertical-align: top;

  #toolbar {
    i {
      background-size: 100%;
      margin: 0 0.1em;
    }

    .btn-group {
      //display: block;
    }
  }
}

$select-color: orange;
$hover-color: #ffc46b;

#content {
  display: inline-block;
  width: 100%;
  height: 100%;
}

*[draggable] {
  cursor: move;
}

svg {
  vector-effect : non-scaling-stroke;
  shape-rendering: geometricPrecision;
}

#board {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: white;
  overflow: hidden;

  &.mode-block {
    border: 1px solid #2e6da4;
  }
  &.mode-select {
    border: 1px solid #4cae4c;
  }
  &.mode-band {
    border: 1px solid #d58512;
  }

  .block {
    position: absolute;
    width: auto;
    height: auto;

    &.select-selected {
      border: 1px solid $select-color;
      background: none;
    }
    &.select-hovered {
      border: 1px solid $hover-color;
      background: none;
    }

    .mode-block {
      pointer-events: none;
    }

    &.ui-state-disabled {
      opacity: 1;
    }
  }

  .selection-clearer {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .link-container {
    svg {
      position: absolute;

      path.rel-back {
        stroke: none;
        fill: white;
        opacity: 0;
      }
      path.rel-item {
        pointer-events: none;
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;

        &.select-selected {
          stroke: $select-color;
        }
        &.select-hovered {
          stroke: $hover-color;
        }
      }
      path.rel-group, path.rel-block {
        pointer-events: none;
        stroke: black;
        stroke-width: 1;
        stroke-opacity: 0.9;
        fill: black;
        opacity: 0.2;

        &.select-selected {
          fill: $select-color;
        }
        &.select-hovered {
          fill: $hover-color;
        }
      }

    }
  }

  .placeholder {
    z-index: 100;
    position: absolute;
    border-radius: 10px;
    background-color: #e2e2e2;

    font-size: 300%;
    text-align: center;

    border: 2px outset gray;
    padding: 0.1em;

    width: auto;
    min-width: 1em;
    height: auto;
    min-height: 3em;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .over {
      border-color: black;
    }

    i {
      display: block;
      background-size: 100%;
      background-position: center;
      background-color: #d6d6d6;
      padding: 0 0.1em;
      border-radius: 10px;
      border: 2px outset gray;
    }
  }
}

#blockbrowser {
  width: 100%;
  height: 30%;
  display: block;
  overflow: auto;

  table {
    width: 100%;

    button {
      padding-top: 0;
      padding-bottom: 0;
    }
    /*tbody {
      width: 100%;
      height: 100%;
      display: table-row-group;
      overflow: auto;
    }*/
  }
}

.select-selected {
  //html variant
  border: 1px solid $select-color;
  background-color: $select-color;
}

svg .select-selected {
  //svg variant
  stroke: $select-color;
  stroke-width: 1px;
  fill: $select-color;
  vector-effect: non-scaling-stroke;
}

.taco-table-container {
  overflow: hidden;
  border: 1px solid lightpink;
  position: absolute;
}

.taco-table {
  position: relative;
  border: 1px solid purple;

  div {
    position: absolute;
  }
}

a.taco-logo {
  padding: 5px 15px;
}

.taco-bp-container {
  //border: 1px solid lightpink;
  border-left: 1px solid #000000;
  position: absolute;
  div {
    position: absolute;
    font: 10px sans-serif;
    text-align: right;
    padding: 1px;
    //margin: 1px;
    margin-top: 1px;
    color: white;
  }
  .rotated {
    /*rotate the entire image
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
  }
}

.taco-bar-container {
    border: 1px solid darkgray;
    position: absolute;
    background-color: #ffffff;
    div {
      position: relative;
      font: 10px sans-serif;
      text-align: right;
      //padding: 1px;
    }
  }

.content-change-color {
  background-color: #456bb4;
}

.struct-add-color, .row-add-color, .col-add-color{
  background-color: green;
}

.struct-del-color, .row-del-color, .col-del-color{
  background-color: red;
}

.struct {
  border-radius: 25px;
}

/* flexbox */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; // use full height
  height: calc(100% - 50px);
}

.flex-column {
  transition: flex-grow .5s; // animate width
  flex-grow: 0.00001; // Setting this to zero breaks the transition (http://stackoverflow.com/a/24976134/940219)
  width: 30px; // minimum width
  overflow: hidden;

  display: flex; // flex box itself for .tab-title and .tab-content
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.flex-column.expand {
  flex-grow: 1; // proportion of expanded column
}


.tab-title {
  flex-grow: 0;
  width: 30px; // same width as .flex-column

  // rotate .tab-title link by 90°
  a {
    text-decoration: none;
    color: #fff;
    transform: rotate(-90deg);
    writing-mode: tb-rl;
    white-space: nowrap;
    display: block;
    margin-top: 50vh; // center at the viewport half
    cursor: pointer;
  }
}

.tab-content {
  width: 100%;
}


#overview {
  background: white;
  .tab-title {
    background: #212121;
  }
}

#middle {
  background: #fffeee;
  .tab-title {
    background: #333333;
  }
}

#detail {
  background: #ededed;
  .tab-title {
    background: #454545;
  }
}
/* end of flexbox */

.taco-navbar {
  position: relative;
  min-height: 50px;
}

#mds-graph {
  border: solid 1px gray;
  height: 42vh;
}

#lineup {
  border: solid 1px darkgreen;
  height: 42vh;
}
