
#btn-added.active,
div.added-color {
  transition: background-color ease 0.2s;
  background-color: $struct-add-color;
}

#btn-removed.active,
div.removed-color {
  transition: background-color ease 0.2s;
  background-color: $struct-delete-color;
}

#btn-content.active,
div.content-color {
  transition: background-color ease 0.2s;
  background-color: $neg-content-change-color;
}

#btn-nochange.active,
div.nochange-color {
  transition: background-color ease 0.2s;
  background-color: $no-change-color;
}

#btn-reorder.active,
div.reorder-color {
  transition: background-color ease 0.2s;
  background-color: $reorder-color;
}

rect.added-color {
  fill: $struct-add-color;
  transition: fill ease 0.2s;
}

rect.removed-color {
  fill: $struct-delete-color;
  transition: fill ease 0.2s;
}

rect.content-color {
  fill: $neg-content-change-color;
  transition: fill ease 0.2s;
}

rect.nochange-color {
  fill: $no-change-color;
  transition: fill ease 0.2s;
}
