
.diffheatmap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(33% + 100px);

  .legend {
    position: absolute;
    width: 100px;
    top: -35px;
    margin-left: -35px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease, opacity 0.2s ease;

    .content-change {
      text-align: center;
      font-size: 12px;
      background: linear-gradient(to right, $neg-content-change-color 0%, $neg-content-change-color 50%, $pos-content-change-color 50%, $pos-content-change-color 100%);

      &:before {
        content: 'Normalized Content Change';
        position: absolute;
        top: -25px;
        left: -27px;
        width: 155%;
      }

      span.handle-value {
        position: absolute;
          top: -4px;

        &.min {
          right: 12px;
          margin-right: 100%;
        }

        &.max {
          left: 12px;
          margin-left: 100%;
        }
      }

      .ui-slider-handle {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
      }

      &:hover {
        .ui-slider-handle {
          opacity: 1;
        }
      }

      div {
        position: relative;
        width: 100%;
        background: linear-gradient(to right, $neg-content-change-color, $no-change-color, $pos-content-change-color);
      }
    }
  }

  .taco-table {
    position: relative;
    border: 1px solid black;
    margin: 0 50px;
    //width: calc(100% - 100px);
    background: $no-change-color;
    opacity: 1;
    visibility: visible;

    transition: visibility 0s ease, opacity 0.2s ease, width 0.2s ease, height 0.2s ease;

    & div.transform > div {
      position: absolute;
    }
  }

  &.focusOnReorder {
    .taco-table,
    .legend {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.2s, 0s, 0s, 0s;
    }
  }
}
