
.reorderView {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: opacity ease 0.2s;

  &.fadeout {
    opacity: 0;
  }

  line.slope {
    fill: none;
    stroke: darken($reorder-color, 30%);
    stroke-width: 1;

    &.hovered,
    &:hover {
      stroke: $hover-color;
    }

    &.selected {
      stroke: $select-color;
    }
  }

  line.axis {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}
