$boostrapAssetDir: '~phovea_ui/src/assets';

$select-color: orange;
$hover-color: #ffc46b;

$struct-add-color: #a1d76a;
$struct-delete-color: #e9a3c9;
$pos-content-change-color: #8da0cb;
$neg-content-change-color: #d8b365;
$no-change-color: #ffffff;
$reorder-color: #decbe4;

$gentle-color: #f0f0f0;
$no-change-border-color: #ddd;

$app-margin-top: 55;
