$select-color: orange;
$hover-color: #ffc46b;

$struct-add-color: #ccebc5;
$struct-delete-color: #fbb4ae;
$content-change-color: #b3cde3;
$no-change-color: #D8D8D8;
$reorder-color: #decbe4;

$gentle-color: #f0f0f0;

$boostrapAssetDir: '~phovea_ui/src/assets';

body, html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-weight: 400 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif !important;
}

th,
label,
strong,
b,
.label {
  font-weight: 500 !important;
}

.busy {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.26) url('#{$boostrapAssetDir}/caleydo_c_anim.svg') no-repeat fixed center;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.caleydoHeader {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0;
}

$app-margin-top: 50;

#app {
  display: flex;
  flex-direction: column;
  margin: $app-margin-top+px 20px 20px;
}

#caleydoHeader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  margin-top: -$app-margin-top+px; // must match with margin from #app
}

.collapse {
  margin-top: 5px;
}

.difftitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;
  /*margin-top:150px;*/


  > .leftHeatmapTitle {
    > p {
      font-size: 10pt;
    }
  }

  > .diffHeatmapTitle {
    > p {
      font-size: 10pt;
    }
  }

  > .rightHeatmapTitle{
    > p {
      font-size: 10pt;
    }
  }
}

a.active {
  font-weight: 500;
  color: $select-color;
}

rect {
  &.phovea-select-selected {
    fill: $select-color;
  }
  &.phovea-select-hovered {
    fill: $hover-color;
  }
}


.timeline {
  text {
    cursor: pointer;

    &.active {
      fill: $select-color;
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

//#nav-bar{
//  margin-top:20px;
//  margin-bottom: 20px;
//}

@keyframes color_change {
  from { background-color: transparent; }
  to { background-color: $hover-color; }

}
button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
button:focus, button.focus, button:active:focus, button:active.focus, button.active:focus, button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button:active, button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  //box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-group.change {
  button.inactive {
    opacity: 0.5;
  }
}

#btn-nochange, div.bar.nochange {
  background-color: $no-change-color;
}

#btn-removed.active, div.bar.removed{
  background-color: $struct-delete-color;
}

#btn-added, div.bar.added {
  background-color: $struct-add-color;
}

#btn-content, div.bar.content {
  background-color: $content-change-color;
}

#btn-reorder, div.bar.reorder {
  background-color: $reorder-color;
}

.meta_info_box {
  margin: 20px 0 100px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;

  & > div{
    width: 33%;
  }

  .leftMetaBox > div,
  .rightMetaBox > div {
    border-radius: 5px;
    background: $gentle-color;
    border: 1px solid $gentle-color;
    padding: 0 10px 0 10px;
    text-align: center;

    // show placeholder text if boxes are empty
    &:empty{
      display: flex;
      align-items: center;

      &:before {
        content: 'Select two time points on the timeline to get more information.';
        text-align: center;
      }
    }

    dl {
      margin: 0;
    }

    dt {
      margin-top: 5px;
    }
  }

  .leftMetaBox {
    display: flex;
    justify-content: flex-end;
    order: 1;
  }

  .histogram_2d {
    order: 2;
    text-align: center;
  }

  .rightMetaBox {
    display: flex;
    justify-content: flex-start;
    order: 3;
  }
}



.ratio {
  transition: left .2s ease;
  display: inline-block;
  border: 1px solid darkslategray;
  position: relative;
  color: #fc8d62; //colorblind friendly
  background: transparent;

  div {
    position: absolute;
    padding: 1px;
  }

  &.loading {
    animation: color_change 1s ease-out infinite alternate;

    div {
      display: none;
    }
  }
}

.histogram {
  transition: left .2s ease;
  display: inline-block;
  border: 1px solid #e6e8e4;
  border-left: 1px solid #000000;
  background: transparent;
  position: relative;
  margin-left: 15px;

  &.rotated {
    position: relative;
    display: block;
    margin-top: -45px;
    margin-left: calc(50% - 67px);
    transform: rotate(90deg) scaleY(-1);
    //transform-origin: 0 0;
  }

  div {
    position: absolute;
    text-align: right;
    padding: 1px;
    //margin-top: 1px;
    color: white;
  }
}

div.added-color {
  background: $struct-add-color;
}

div.removed-color {
  background: $struct-delete-color;
}

div.content-color {
  background: $content-change-color;
}

div.nochange-color {
  background: $no-change-color;
}

rect.added-color {
  fill: $struct-add-color;
}

rect.removed-color {
  fill: $struct-delete-color;
}

rect.content-color {
  fill: $content-change-color;
}

rect.nochange-color {
  fill: $no-change-color;
}

#interface{
  //height: 50px;
  margin-bottom: 20px;
}

div.added-color, .row-added-color, .col-added-color {
  //background-color: #4daf4a;
  background-color: $struct-add-color; //colorblind friendly
}

div.removed-color, .row-removed-color, .col-removed-color {
  //background-color: #e41a1c;
  background-color: $struct-delete-color; //colorblind friendly
}

.phovea-heatmap {
  max-height: 1500px;
  border: 1px solid black;
  display: inline-block;
}

.phovea-heatmap-data,
.phovea-heatmap-selection {
  max-height: 1500px;
  max-width: 100%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 5px;
  font: 10px sans-serif;
  background: #dfedff;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  hyphens: auto;
}

/**
This class adds a fading effect and hides the element
 */
.invisibleClass {
  transition: opacity 0.1s linear;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.noColorClass {
  background: white !important;
}

.filter_bar {
  float: left;
  margin: 6px 0 6px 0;
}

.dataSelector {
  float: left;
  margin: 6px 20px 6px 20px;
}

select.form-control {
  margin-left: 10px;
}

.bar_chart {
  display: flex;
  height: 100px; // height also defined in bar_chart.ts

  .bars {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    margin-left: -15px; // bar width also defined in bar_chart.ts
    transform: translateX(7.5px); // half the bar width to center on timeline tick
  }

  .bar {
    transition: height ease 0.2s;
  }
}

.detailview {
  margin: 20px 0;
  text-align: center;

  button {
    position: relative;
    left: -35px;
  }
}

.comparison {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;

  .heatmap {
    width: 33%;
  }

  .heatmap:first-child {
    text-align: right;
  }
}

.diffheatmap {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(33% + 100px);
}

.taco-table {
  position: relative;
  border: 1px solid black;
  margin: 0 50px;
  width: calc(100% - 100px);

  & > div {
    position: absolute;
  }
}

.reorderView {
  position: absolute;
  width: 100%;

  line {
    fill: none;
    stroke: darken($reorder-color, 30%);
  }
  & > line {
    shape-rendering: crispEdges;
  }
}
